@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";
@import "_bootstrap.scss";

$base-color-white: #fff;
$base-color-orange: #F38227;
$base-color-dark-gray: #69696B;
$margin-and-padding-top-30: 30px;
$font-size-h2: 2.5em;
$font-size-h3: 1.5em;
body {
  font-family: 'Open Sans';
}
.header-area {
  height: 100vh;
  background: url("../images/BG-01.png") fixed left top no-repeat;
  background-size: cover;
  position: relative;
  .navbar.navbar-default {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px 0;
    a {
      background: transparent;
      color: $base-color-white;
      font-weight: normal;
      &:hover {
        color: #ccc;
      }
      &:focus {
        color: #eee;
      }
    }
  }
  .header-title {
    font-size: 6vw;
    color: $base-color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .header-button {
    background: transparent;
    border: 1px solid $base-color-white;
    color: $base-color-white;
    padding: 8px 0;
    display: block;
    text-align: center;
    width: 200px;
    font-size: 1.3;
    transition: 1s;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    &:hover {
      opacity: .7;
      transition: 1s;
      background: #ccc;
      text-decoration: none;
    }
  }
}
.container-fluid {
  padding: 0 50px;
}
h1.navbar-header {
  margin: 0;
  position: relative;
  top: -35px;
  .salween-logo {
    padding: 0;
    margin: 0;
    img {
      display: block;
      width: 250px;
    }
  }
}
.navbar.navbar-default {
  border-radius: 0;
  background: #F9F9F9;
  border: none;
  a {
    background: transparent;
    color: #fff;
    font-weight: normal;
    &:focus {
      color: #ccc;
    }
    &:active {
      color: #fff;
    }
  }
  a.active {
    color: #aaa;
    font-weight: bold;
    &:focus {
      color: #ccc;
    }
  }
  .active {
    a {
      background: transparent;
      &:hover {
        background: transparent;
      }
      &:focus {
        background: transparent;
      }
    }
  }
}
.content-services {
  .company-wrapper {
    line-height: 1.7;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    .company-images {
      @include make-md-column(8);
      padding: 0 30px;
    }
    img {
      width: 100%;
    }
    .company-text {
      @include make-md-column(4);
      padding: 12% 0 0;
      text-align: center;
      h2 {
        color: $base-color-orange;
        text-align: center;
        margin: 0 0 30px;
        font-size: $font-size-h2;
      }
      h3 {
        color: $base-color-dark-gray;
        font-weight: bold;
        margin: 30px 0;
        font-size: $font-size-h3;
      }
      h4 {
        color: $base-color-orange;
        line-height: 1.7;
      }
      p {
        font-size: 1.3em;
        color: $base-color-dark-gray;
        span {
          color: $base-color-orange;
        }
      }
    }
    .text-salween {
      position: relative;
      margin-bottom: 50px;
      padding: 30px 0;
      &:before {
        content: "";
        background: #aaa;
        width: 200px;
        height: 1px;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        bottom: 0;
        transform: translate(-50%,-50%);
      }
    }
  }
  .software-wrapper {
    text-align: center;
    background: #E3E4E6;
    padding: 50px 0;
    .container {
      overflow: hidden;
    }
    .title-software {
      .title-software.inner {
        @include make-row;
      }
    }
    h2 {
      margin: 0 0 50px;
      color: #3A3A3A;
      font-size: $font-size-h2;
    }
    h3 {
      color: #3C3C3C;
      margin-bottom: 50px;
      font-size: $font-size-h3;
    }
    p {
      color: #b2b2b2;
    }
    img.img-responsive {
      margin: 0 auto 30px;
      max-width: 60%;
    }
    .image-wrapper {
      @include make-sm-column(4);
      p {
        overflow: hidden;
      }
    }
  }
  .technologies-wrapper {
    padding: 50px 0 50px;
    color: $base-color-white;
    text-align: center;
    background: #1988BD url("../images/BG-3.png") fixed no-repeat left top;
    background-size: cover;
    position: relative;
    .fa {
      color: $base-color-white;
    }
    .technologies-inner {
      border: 1px solid #1988BD;
      border-radius: 5px;
      padding: 50px 20px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3eb2db+0,0372a7+100 */
      background: #0372a7; /* Old browsers */
    }
    h2 {
      margin: 0 0 50px;
      font-size: $font-size-h2;
    }
    ul {
      @include make-row;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        @include make-xs-column(6);
        @include make-md-column(2);
        margin: 0 0 30px;
        img {
          margin-bottom: 30px;
          height: 80px;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
.based-area {
  background: url("../images/BG-4.png") fixed left top no-repeat;
  background-size: cover;
  position: relative;
  .fa {
    color: $base-color-white;
  }
  .area-inner {
    background: rgba(0, 0, 0, 0.5);
    padding: 150px 0 80px;
    .container {
      overflow: hidden;
    }
    .ms-gold {
      position: relative;
      &:before {
        content: "";
        background: url("../images/logo-ms-gold.png") no-repeat left top;
        background-size: 100% 100%;
        width: 110px;
        height: 41px;
        position: absolute;
        right: 3px;
        top: 3px;
      }
      a {
        padding: 10px 120px 10px 10px;
      }
    }
  }
  h2 {
    font-size: $font-size-h2;
    margin: 0 0 30px;
    text-align: center;
    color: $base-color-white;
  }
  h3 {
    font-size: 1.5em;
    text-align: center;
    color: $base-color-white;
    padding-bottom: 50px;
    font-size: $font-size-h3;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-left: -50px;
    text-align: center;
    @include clearfix;
    li {
      display: inline-block;
      margin: 0 0 50px 50px;
      a {
        border: 1px solid $base-color-white;
        padding: 10px 40px;
        color: $base-color-white;
        font-size: 1.3em;
        display: block;
        &:hover {
          text-decoration: none;

        }
      }
    }
  }
}
.awards {
  padding: 50px 0;
  background: #E3E4E6;
  h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 0 50px 0;
  }
  .awards-inner {
    ul {
      @include clearfix;
      list-style: none;
      padding: 0;
      li {
        top: 30px;
        @include make-md-column(4);
        &:first-child {
          top: 0;
        }
      }
    }
  }
}
/* 5 Columns */
.list-team {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    float: left;
}
.list-team {
    width: 100%;
    float: none;
}
@media (min-width: 992px) {
    .list-team {
        width: 20%;
        float: left;
    }
}

.content-team {
  padding: 50px 0;
  background: url("../images/BG-5.jpg") fixed left top repeat;
  .text-fade-out {
    opacity: 0.0;
    margin: 0;
    padding: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .text-fade-in {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    opacity: 1;
    background: trasparent;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height: 100%;
    color: $base-color-white;
    padding: 15px;
    transition: .5s;
    z-index: 2;
    text-indent: 0;
    height: 100%;
  }

  h2 {
    font-size: $font-size-h2;
    margin: 0;
    color: #333;
    text-align: center;
  }
  h3 {
    font-size: $font-size-h3;
    color: #333;
    text-align: center;
    padding: 30px 0 50px 0;
    margin: 0;
    font-weight: normal;
  }
  ul.animated {
    @include make-row;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  ul {
    @include make-row;
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    overflow: hidden;
    li {
      @extend .list-team;
      margin: 0;
      padding: 0;
      position: relative;
      h4 {
        @extend .text-fade-out;
        margin: 0 0 20px;
        display: none;
      }
      h5 {
        @extend .text-fade-out;
        margin-bottom: 30px;
        display: none;
      }
      p {
        @extend .text-fade-out;
        text-align: center;
        display: none;
      }
      &:hover {
        h4 {
          @extend .text-fade-in;
          margin: 0;
          display: inline-block;
          background: rgba(0, 0, 0, 0.7);
        }
        h5 {
          @extend .text-fade-in;
          display: inline-block;
          top: 15%;
        }
        p {
          @extend .text-fade-in;
          text-align: center;
          display: inline-block;
          top: 50%;
          margin-top: -50px;
          line-height: 1.6;
        }
      }
      img {
        width: 100%;
        position: relative;
        z-index: 1;
      }
    }
  }
}
.content-contact-us {
  text-align: center;
  color: $base-color-white;
  font-size: 3em;
  iframe {
    max-width: 100%;
  }
}
footer {
  padding: 30px 0;
  background: #1A2127;
  color: $base-color-white;
  section {
    @include make-sm-column(4);
  }
  h2 {
    font-size: $font-size-h2;
    margin: 0 0 30px;
    color: #5D6063;
  }
  dl {
    margin: 0;
    overflow: hidden;
    @include clearfix;
    dt {
      float: left;
      clear: both;
    }
    dd {
      overflow: hidden;
      margin-left: 80px;
    }
  }
  .social-link {
    ul {
      list-style: none;
      padding: 53px 0 0;
      margin-left: -10px;
      @include clearfix;
      li {
        float: left;
        margin-left: 10px;
        transition: 1s;
        a {
          display: block;
          width: 60px;
          img {
            width: 100%;
          }
          &:hover {
            opacity: .7;
            transition: 1s;
          }
        }
      }
    }
  }
}
.fa {
    display: block;
    text-align: center;
    font-weight: lighter;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    color: #E3E4E6;
    line-height: .5;
  }
.bounce-arrow {
    position: absolute;
    bottom: -20px;
    left: 50% ;
    width: 60px;
    height: 60px ;
    margin-left:-30px;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    a {
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
      &:active {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
}
.job {
  padding: 50px 0;
  @include clearfix;
  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #4FDCFF),
	color-stop(1, #26A8E0)
);
background-image: -o-linear-gradient(bottom, #4FDCFF 0%, #26A8E0 100%);
background-image: -moz-linear-gradient(bottom, #4FDCFF 0%, #26A8E0 100%);
background-image: -webkit-linear-gradient(bottom, #4FDCFF 0%, #26A8E0 100%);
background-image: -ms-linear-gradient(bottom, #4FDCFF 0%, #26A8E0 100%);
background-image: linear-gradient(to bottom, #4FDCFF 0%, #26A8E0 100%);
  color: $base-color-white;
  p {
    text-align: center;
    font-size: 1.5em;
  }
  .job-inner {
    @include make-sm-column(4);
    &:last-child {
      border: none;
    }

    ul {
      margin: 0;
      padding-left: 20px;
      li {
        margin-bottom: 20px;
        font-size: 1.2em;
      }
    }
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: $font-size-h2;
  }
  h3 {
    margin-bottom: 30px;
    font-size: $font-size-h3;
  }
}
.content-contact-us {
  #google-map {
    height: 720px;
    width: 100%;
    display: block;
    color: #333;
    text-align: left;
    position: relative;
    z-index: 9;
  }
    .content-map {
      background: #F4821F;
      color: #fff;
      padding: 20px;
      text-align: left;
      width: 350px;
      cursor: auto;
      .company-name {
        background: url("../images/Map-icon-01.png") no-repeat left top;
        background-size: 20px 20px;
        padding-left: 25px;
        margin: 0 0 10px;
        font-size: 20px;
      }
      .address {
        font-size: 16px;
        line-height: 1.5;
      }
      .link {
        text-align: center;
        margin: 0;
        a {
          display: inline-block;
          border: 1px solid #fff;
          border-radius: 20px;
          padding: 5px 15px;
          color: #fff;
          position: relative;
          &:hover {
            text-decoration: none;
            opacity: .7;
          }
          i {
            padding-left: 15px;
            top: 3px;
          }
        }
      }
    }
}
.gm-style {
  .gm-style-iw {
      background-color: #F4821F !important;
      top: 0 !important;
      left: 0 !important;
      width: 100%!important;
      height: 100% !important;
      min-height: 210px !important;
      display: block !important;
   }
  div {
    div {
      div {
        div {
          div {
            div {
              div {
                div {
                  background-color: #F4821F !important;
                  padding: 0;
                  margin: 0;
                  padding: 0;
                  top: 0;
                  color: #fff;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-10px);}
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-10px);}
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-10px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-10px);}
}
@media (max-width: 768px) {
  h1.navbar-header {
    .salween-logo {
      img {
        width: 200px;
      }
    }
  }
}
